# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# SQLite databases
*.sqlite3
*.db

# Uploads and attachments
uploads/

# Docker and OS files
.DS_Store
